body{
    font-family: sans-serif;
    padding: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(6, 75px);
    grid-gap: 1.5em;
}
/* not fully responsive (the layout  is squashed on mobile screens)*/
@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
}

/* changing background for every grid items*/
.grid-container > * {
    background: #d9d9d9;
}
/* giving appropriate sizes as per the image*/
.grid-item-1{
    grid-column: 1 / span 4;
    grid-row: 1 / span 4;
}
/* square size */
.col-2.row-2{
    grid-column: span 2;
    grid-row: span 2;
}
/* rectangle size */
.col-4.row-2{
    grid-column: span 4;
    grid-row: span 2;
}